<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center">
            <img src="./assets/user.jpg" alt="" class="user-image mr-1 p-2" />

           <!--User Name
            <button type="button" class="btn btn-light">Light</button>
              <a mat-list-item routerLinkActive="list-item-active" routerLink="login"></a>-->
          </button>
          <nav class="navbar navbar-expand navbar-dark bg-dark">
            <!--<ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
              </li>
            </ul>-->
            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
              <li class="nav-item">
                <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
              </li>
              <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
              </li>
            </ul>
          </nav>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>